/*********************************************
 フォーム、ボタン類 
*********************************************/

.form {
  margin-bottom: 70px;
}

.purchase-btn {
  color:#302833;
  width: 105px;
  height: 105px;
  background: #e6b422;
  text-align: center;
  border-radius: 50%;
  bottom: 93px;
  right: 10px;
  position: fixed;
  padding: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5), inset -10px -6px 10px -2px rgba(0, 0, 0, 0.3);
}

.purchase-btn:hover {
  box-shadow: 0px 3px 3px 0px rgba(241, 235, 235, 0.997), inset -10px -6px 10px -2px #f4eded;
  color:#302833;
  transition: all 500ms ease 0ms;
  color: #eaf4fc;
}

.purchase-btn:active {
  border: 0;
  bottom: 75px;
  transition: all 0ms ease 0ms;
}

.purchase-btn-icon {
  border-radius: 50%;
  background-color: #e6b422;
}

.purchase-btn-text {
  display: block;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style: none;
  font-family: 'Titillium Web', sans-serif;
}

li {
  margin-bottom : 10px;
}

.lavel {
  font-size: 18px;
  font-weight: 600;
  color: #432f2f;
}


/*********************************************
詳細、編集、削除ボタン 
*********************************************/

.show-btn {
  margin-top:30px;
  display: flex;
  justify-content: end;
  text-decoration: none;
}

.show-btn :hover {
  background-color: #a0d8ef;
  transition: all 300ms ease-in 0ms;
}

.edit-btn {
  border: #488384 solid 1px;
  margin-right: 10px;
  color :#513743;
  background-color: #e0ebaf;
  text-decoration: none;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}

.destroy-btn {
  border: #488384 solid 1px;
  text-decoration: none;
  color :#513743;
  background-color: #e0ebaf;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}
