/*********************************************
ヘッダー機能 
*********************************************/ 

.title-image {
  margin-bottom: 2px;
}

.fs-1 {
  margin-left: 40px;
  background:  #2ca9e1;
  color:#006e54;
  font-weight: 500;
  text-shadow: 
  0 0 0.05em #fef4f4,
  0 0 0.06em #fef4f4,
  0 0 0.07em #fef4f4,
  0 0 0.08em #fef4f4,
  0 0 0.09em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.50em #fef4f4;
  padding: 0.3em;
  display: inline-block;
  line-height: 1.3;
  vertical-align: middle;
  border-radius: 80px;
  box-shadow: 5px 5px 15px #fef4f4 inset,
  -5px -5px 15px #fef4f4 inset;

  &:hover {
    box-shadow: 5px 5px 15px #fef4f4 inset,
  -5px -5px 10px #fef4f4 inset,
    0 0 15px #fef4f4;
   transition: all 200ms ease 0ms;
  }

  &:active {
    transition: all 300ms ease 0ms;
    position: relative;
    left: 15px;
  }
  }
  
.fs-5 {
  font-weight: bold;
  color: #302833;
  text-decoration: none;
  padding-top :10px;
  margin-right :20px;

  &:hover {
    color: #ffec47;
  }
}

.col-md-3 {
  align-items: center;
  margin:20px 40px 0 0;
}

.btn-outline-primary {
 color: whitesmoke;
 background-color: #38b48b;
 border-color: #eaeea2;

 &:hover {
  border-color: #eaf4fc; 
  color: #16160e; 
  background-color: #2ca9e1;
}
}

.search-btn {
  border-radius: 50px;
  margin-right: 7px;
  margin-bottom:7px;
}