/*********************************************
ヘッダー機能 
*********************************************/ 

.title-image {
  margin-bottom: 2px;
}

.fs-1 {
  margin-left: 40px;
  color: #9d5b8b;
  font-weight: 500;
  text-shadow: 
  0 0 0.05em #fef4f4,
  0 0 0.06em #fef4f4,
  0 0 0.07em #fef4f4,
  0 0 0.08em #fef4f4,
  0 0 0.09em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.20em #fef4f4,
  0 0 0.50em #fef4f4;
  padding: 0.3em;
  display: inline-block;
  line-height: 1.3;
  background: #aacf53;
  vertical-align: middle;
  border-radius: 60px 0;
  box-shadow: 0 15px 15px rgba(0, 0, 0, .5);
  }
  
  .fs-1:hover {
   background-color: #9d5b8b;
   color: #aacf53;
   box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
   transition: all 200ms ease 0ms;
  }

  .fs-1:active {
    transition: all 50ms ease 0ms;
    box-shadow: 0 30px 30px #fef4f4;
  }

.fs-5 {
  font-weight: bold;
  color: #302833;
  text-decoration: none;
  padding-top :10px;
  margin-right :20px;
}

.fs-5:hover {
  color: #ffec47;
}

.col-md-3 {
  align-items: center;
  margin:20px 40px 0 0;
}

.btn-outline-primary {
 color: whitesmoke;
 background-color: #38b48b;
 border-color: #eaeea2;
}

.btn.btn-primary:hover {
  border-color: #eaf4fc; 
  color: #16160e; 
  background-color: #2ca9e1;
}
  
.btn.btn-outline-primary:hover {
  border-color: #eaf4fc; 
  color: #16160e; 
  background-color: #2ca9e1;
}

.btn-primary{
 color: whitesmoke;
 background-color: #38b48b;
 border-color: #eaeea2;
 margin-bottom: 5px;
}
