/*********************************************
主要機能
*********************************************/
@mixin scroll {
  flex-grow: 1;
  overflow-y: auto;
}

@mixin display {
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  font-family: 'Titillium Web', sans-serif;
}

.main {
  @include display;
  justify-content: center;
  align-items: center;
}

.index-main {
  @include display;
  position: relative;
}

.user-show-main {
  @include display;
}

.main-contents {
  @include scroll;
}

.user-show {
  @include scroll;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      display: none;
      opacity: 0;
      z-index: -1;
  }
}

#loader {
  width: 100%;
  height: 125.8%;
  position: absolute;
  background-color: #00a497;
  z-index:1000;

&.loaded {
  animation: fadeOut 4s forwards;
}
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 46%;
  z-index: 1000; 
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
