/*********************************************
 投稿機能 
*********************************************/

.posts-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.select {
  width: 250px;
  height: 40px;
  border-radius: 5%;
  border: 1px solid rgb(216, 218, 223);
}

.select:focus{
  outline: 1px solid #dccb18;
}

.time-select{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgb(216, 218, 223);
}

.time-select:focus{
  outline: 1px solid #dccb18;
}

.text-input {
  width: 250px;
  height: 120px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.text-input:focus {
  outline: 1px solid #dccb18;
}


.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-list {
  width: 550px;
  background-color: #abced8;
  box-shadow:6px 6px 6px 2px #e7e7eb inset;
  padding: 30px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit {
  width: 120px;
  height: 50px;
  border: 1px solid rgb(216, 218, 223);
  background-color: #b3ada0;
  border-radius: 3px;
  padding: 0 auto;
  opacity: 0.8;
  box-shadow: 2px 5px  #dcd3b2;
}

.submit:hover {
  opacity: 1.2;
}

.submit:active {
  box-shadow: none;
  position :relative;
  top :5px;
}

.error-message {
  text-align: center;
  color: #1f3134;
}
 
.edit-contents {
  display: flex;
  justify-content: center;
}


.date {
 text-align: center;
 color:black;
}

.genre {
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.genre-1 {
  border: #C5C1FF solid 0.5px;
  color :#1f3134;
  background-image: linear-gradient(90deg, rgba(253, 177, 170, 1), rgba(240, 226, 226, 1));
}

.genre-2 {
  border: #1f3134 solid 0.5px;
  color: #eaf4fc;
  background-image: radial-gradient(circle, rgba(111, 109, 83, 1), rgba(224, 162, 8, 1) 80%);
}

.genre-3 {
  border: #a2d7dd solid 0.5px;
  color: #e7e7eb;
  background-color: #488384;
}

.genre-4 {
  border: #deb068 solid 0.5px;
  color: #fef4f4;
  background-color: #96514b;
}

.genre-5 {
  border: #f2a0a1 solid 0.5px;
  color: #a0d8ef;
  background-color: #e2041b;
}

.genre-6 {
  border:#fffffc solid 0.5px;
  color:#fbfaf5;
  background-color: #007bbb;
}

.genre-7 {
  border:#f2f2b0 solid 0.5px;
  color:#640125;
  background-color: #f8e58c;
}

.genre-8 {
  border:#e6eae3 solid 0.5px;
  color:#fef4f4;
  background-color: #b3ada0;
}

.time {
text-align: end;
font-size: 20px;
text-decoration: underline #80989b;
}

.count{
  color:#ea5506;
  display: inline;
}
