/*********************************************
 検索機能
*********************************************/

.search-btn {
  border-radius: 50px;
  margin-right: 7px;
  margin-bottom:7px;
}

.search-main {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.user-list {
  padding-top: 30px;
}

.search-user{
  color: #0d0015;
  border-bottom: #9d5b8b solid 1px;
}

.search-field {
  padding-bottom: 5px;
}

.nil-user {
  padding-top: 20px;
}