
/*********************************************
ログイン、サインアップ機能 
*********************************************/ 

.session-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.registration-submit {
  width: 120px;
  height: 40px;
  border: 1px solid rgb(216, 218, 223);
  background-color: #b3ada0;
  border-radius: 3px;
  padding: 0 auto;
  opacity: 0.8;
}

.session-submit:hover {
  opacity: 1.2;
}

.action2 {
  background-color: #e7e7eb;
  margin: auto;
  text-align: center;
  border: #00a497 solid 1px;
  border-radius: 30px;
  margin-top: 30px;
  
}

.action2:hover {
  text-decoration: underline #1f3134 solid 1px;
}

.action2 a {
  color: #00552e;
}

.registration-main {
  background-color: #a0d8ef;
  box-shadow:6px 6px 6px 6px #e7e7eb ;
  padding: 50px 100px;
  border-radius: 5px;
  bottom: 700px;
  margin-bottom: 200px;
}

.sign_up_title h2{
text-align: center;
font-size: 40px;
color :gold;
margin-bottom: 20px;
} 

.sign_in_title h2 {
text-align: center;
font-size: 40px;
color :gold;
}




.login-flash-message{
  margin-bottom: 20px;
}

.google-sign-up {
  background-color: #38b48b;
  border: #e7e7eb solid 1px;
  text-align: center;
  margin-bottom: 30px ;
}

.google-sign-up:hover {
  background-color: #00a497;
  border:  solid 1px;
  text-decoration: underline;
}

.google-sign-up a {
  color: #000b00;
}

.google-login {
  background-color: #38b48b;
  border: #e7e7eb solid 1px;
  text-align: center;
  margin-bottom: 30px;
}

.google-login:hover {
  background-color: #00a497;
  border: #38b48b solid 1px;
  text-decoration: underline;
}

.google-login a{
  color: #000b00;
}



