/*********************************************
ログイン、サインアップ機能 
*********************************************/ 

@mixin title-text {
text-align: center;
text-shadow: 3px 1px 2px gold;
font-size: 40px;
color :#000b00;
}

@mixin display {
  display: flex;
  justify-content: center;
}

.session-main {
  @include display;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.action {
  @include display;
  margin-top: 30px;
}

.action2 {
  background-color: #e7e7eb;
  margin: auto;
  text-align: center;
  border: #00a497 solid 1px;
  border-radius: 30px;
  margin-top: 30px;  

  a {
    color: #00552e;
  }

  &:hover {
    text-decoration: underline #1f3134 solid 1px;
  }
}

.registration-submit {
  width: 120px;
  height: 40px;
  border: 1px solid rgb(216, 218, 223);
  background-color: #b3ada0;
  border-radius: 3px;
  padding: 0 auto;
  opacity: 0.8;
  box-shadow: 2px 5px  #dcd3b2;

  &:hover {
    opacity: 1.2;
  }

  &:active {
    box-shadow: none;
    position :relative;
    top :5px;
  }
}

.registration-main {
  background-color: #a0d8ef;
  box-shadow:6px 6px 6px 6px #e7e7eb ;
  padding: 50px 100px;
  border-radius: 5px;
  bottom: 700px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-title h2{
@include title-text;
margin-bottom: 20px;
} 

.sign_in_title h2 {
  @include title-text;
}

.login-flash-message{
 margin-bottom: 20px;
}


.google-btn {
  background-color: #38b48b;
  border: #e7e7eb solid 1px;
  text-align: center;
  margin-bottom: 30px;

  a {
    color: #000b00;
  }
  
  &:hover {
    background-color: #00a497;
    border: #38b48b solid 1px;
    text-decoration: underline;
  }
}

.text-field {
  border: 1px solid rgb(216, 218, 223);
  border-radius: 3px;
  width: 200px;

  &:focus {
    outline: 1px solid #dccb18;
  }
}



