/*********************************************
 合計時間表示機能 
 *********************************************/

 .year {
  margin:0 0 20px 80px;
 }
 
 .genre-total-times {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   justify-self: start;
   margin-bottom: 50px ;
   flex-grow: 1;
   overflow: auto;
 }
 
 .genre-total-time {
   margin-bottom:5px;
 }
 
 .time-content {
   width: 300px;
 }
 
 .genre-item {
   margin-bottom: 5px;
   margin-right: 20px;
 }
 
 .total-time-title {
   display: flex;
   justify-content: center;
   margin:70px 0px;

   span{
    color: #f8fbf8;
  }
 }
 
 .y-m {
   padding-left: 20px;
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
 }
 
 .month-list {
   width: 300px;
   margin: 20px 0px 50px 0px;
 }
 
 