    <header class="d-flex flex-wrap  py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <div class="fs-1" >
        <%= image_tag "apple.touch.png", size:'50x50', class:"title-image" %>
        わすレコ
        </div>
        </a>
  </header>