<%= render 'shared/second-header' %>

<div class="posts-main">
  <div class="sign_up_title">
    <h2>  
      投稿
    </h2>
  </div>
  <%= render "shared/form" %>  
</div>

<%= render "shared/footer" %>
