@import "bootstrap";

.login-flash-message{
  margin-bottom: 20px;
}

body {
  background-color: rgb(114, 120, 161)
;
}

.index-main {
  width: 100vw;
  height: 80vh;
}


.sign_up {
  margin-bottom: 60px;
}

.sign_up_title h2{
font-size: 40px;
color :gold;
margin-bottom: 10px;
}

.fs-1 {
color: gainsboro;
font-weight: 500;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fs-5 {
  text-decoration:none;
  color: black;
  margin-right: 20px;
  text-decoration: underline wavy gold;
}

.col-md-3 {
  padding-top: 20px;
}

.btn-outline-primary {
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
}

.btn-primary{
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
}

.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 70px;
}

.purchase-btn {
  width: 120px;
  background: olive;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px ;
  margin-bottom: 20px;
}


.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

.lavel {
  font-size: 18px;
  font-weight: 600;
  color: burlywood;
  font-style: italic;
}

.select {
  width: 200px;
  height: 40px;
  border-radius: 5%;
}

.time-select{
  width: 70px;
  height: 30px;
  border-radius: 20px;
  
}


.sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
}

.registration-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}