@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import "simple_calendar";

.bread a{
text-decoration: none;
  margin-left:20px;
  color: black;
}

a {
  text-decoration: none;
}
.login-flash-message{
  margin-bottom: 20px;
}

.footer{
  width: 100vw;
}
body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

}

.index-main {
  width: 100%;
  height: 100vh;
  position: relative;
  text-decoration: none;
}


.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.sign_up {
  margin-bottom: 60px;
}

.sign_up_title h2{
font-size: 40px;
color :gold;
margin-bottom: 10px;
}

.fs-1 {
margin-left: 40px;
color: gainsboro;
font-weight: 500;
}


.fs-5 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top :10px;
  margin-right :20px;
}

.col-md-3 {
  align-items: center;
  margin:20px 40px 0 0;

}

.btn-outline-primary {
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
}

.btn-primary{
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
 margin-bottom: 5px;
}


.btn-primary :hover {
  background-color: #a0d8ef;
  transition-property: background-color,margin-left;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}


.form {
  margin-bottom: 70px;
}

.purchase-btn {
  width: 120px;
  background: olive;
  text-align: center;
  border-radius: 50%;
  bottom: 93px;
  right: 10px;
  position: fixed;
  padding: 15px ;
 
  box-shadow: 0 0 0 0 16;
}


.purchase-btn-icon {
  border-radius: 5%;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  font-family: 'Titillium Web', sans-serif;
}

li {
  margin-bottom : 10px;
}

.lavel {
  font-size: 18px;
  font-weight: 600;
  color: #432f2f;
}

.select {
  width: 200px;
  height: 40px;
  border-radius: 5%;
}

.time-select{
  width: 70px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}

.text-input {
  width: 200px;
  height: 120px;
}

.sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
}

.registration-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.edit-contents {
  display: flex;
  justify-content: center;
}

.item {
font-family: 'Titillium Web', sans-serif;
}


.date {
 text-align: center;
 color:black;
}

.genre {
  font-weight: 500;
  text-align: center;
}


.genre-1 {
  border: #C5C1FF solid 2px;
  color :#1f3134;
  background-image: linear-gradient(90deg, rgba(253, 177, 170, 1), rgba(240, 226, 226, 1));
}
.genre-2 {
  border: #1f3134 solid 2px;
  color: #eaf4fc;
  background-image: radial-gradient(circle, rgba(111, 109, 83, 1), rgba(224, 162, 8, 1) 80%);
}

.genre-3 {
  border: #a2d7dd solid 2px;
  color: #e7e7eb;
  background-color: #488384;
}

.genre-4 {
  border: #deb068 solid 2px;
  color: #fef4f4;
  background-color: #96514b;
}

.genre-5 {
  border: #f2a0a1 solid 2px;
  color: #a0d8ef;
  background-color: #e2041b;
}

.genre-6 {
  border:#fffffc solid 2px;
  color:#fbfaf5;
  background-color: #007bbb;
}

.genre-7 {
  border:#f2f2b0 solid 2px;
  color:#640125;
  background-color: #f8e58c;
}

.genre-8 {
  border:#e6eae3 solid 2px;
  color:#f3f3f3;
  background-color: #b3ada0;
}

.time {
text-align: end;
font-size: 20px;
}

.heart {
  display: flex;
  justify-content: end;
}
.heart a {
  text-decoration: none;
}
.heart-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.count{
  color:#ea5506;
  display: inline;
}

.show-btn {
  margin-top:30px;
  display: flex;
  justify-content: end;
  text-decoration: none;
  
}

.show-btn :hover {
  background-color: #a0d8ef;
  transition-property: background-color,margin-left;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.edit-btn {
  border: #488384 solid 1px;
  margin-right: 10px;
  color :#513743;
  background-color: #e0ebaf;
  text-decoration: none;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}

.destroy-btn {
  border: #488384 solid 1px;
  text-decoration: none;
  color :#513743;
  background-color: #e0ebaf;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}


.simple-calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-month {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.genre-total-times {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-self: start;
}

.time-content {

  width: 300px;
}