@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import "simple_calendar";
@import "shared/main";
@import "shared/search";
@import "shared/calendar";
@import "shared/post";
@import "shared/time";
@import "shared/header";
@import "shared/btn";
@import "shared/sign-up";
@import "shared/show";