@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
.bread a{
text-decoration: none;
  margin-left:20px;
  color: black;
  
}
.login-flash-message{
  margin-bottom: 20px;
}

.footer{
  width: 100vw;
}
body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

}

.index-main {
  width: 100%;
  height: 100vh;
}


.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.sign_up {
  margin-bottom: 60px;
}

.sign_up_title h2{
font-size: 40px;
color :gold;
margin-bottom: 10px;
}

.fs-1 {
margin-left: 40px;
color: gainsboro;
font-weight: 500;
}


.fs-5 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top :10px;
  margin-right :20px;
}

.col-md-3 {
  align-items: center;
  margin:20px 40px 0 0;

}

.btn-outline-primary {
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
}

.btn-primary{
 color: whitesmoke;
 background-color: forestgreen;
 border-color: cadetblue;
 margin-bottom: 5px;
}


.form {
  margin-bottom: 70px;
}

.purchase-btn {
  width: 120px;
  background: olive;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px ;
  margin-bottom: 53px;
}
.purchase-btn-icon {
  border-radius: 5%;
}


.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

.lavel {
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-style: italic;
}

.select {
  width: 200px;
  height: 40px;
  border-radius: 5%;
}

.time-select{
  width: 70px;
  height: 30px;
  border-radius: 20px;
  
}

.sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
}

.registration-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 60px 0 0 40px; 
  border-radius: 5px;
}

.edit-contents {
  display: flex;
  justify-content: center;
}

.item {
margin-left: 60px;
margin-bottom :60px;
text-decoration: none;
box-decoration-break: clone;
justify-content: center;
font-family: 'Titillium Web', sans-serif;

}


.date {
 text-align: center;
 text-decoration : underline maroon;
 color:black;
}

.genre {
  font-weight: 500;
  text-align: center;
}

.genre-1 {
  border: #C5C1FF solid 2px;
  color :#1f3134;
  background-image: linear-gradient(90deg, rgba(253, 177, 170, 1), rgba(240, 226, 226, 1));
}
.genre-2 {
  border: #1f3134 solid 2px;
  color: #eaf4fc;
  background-image: radial-gradient(circle, rgba(111, 109, 83, 1), rgba(224, 162, 8, 1) 80%);
}

.genre-3 {
  border: #a2d7dd solid 2px;
  color: #e7e7eb;
  background-color: #488384;
}

.genre-4 {
  border: #deb068 solid 2px;
  color: #fef4f4;
  background-color: #96514b;
}

.genre-5 {
  border: #f2a0a1 solid 2px;
  color: #a0d8ef;
  background-color: #e2041b;
}

.genre-6 {
  border:#fffffc solid 2px;
  color:#fbfaf5;
  background-color: #007bbb;
}

.genre-7 {
  border:#f2f2b0 solid 2px;
  color:#640125;
  background-color: #f8e58c;
}

.genre-8 {
  border:#e6eae3 solid 2px;
  color:#f3f3f3;
  background-color: #b3ada0;
}

.activity {
  
}

.heart {
  display: flex;
  justify-content: end;
  height: 50px;
}
.heart a {
  text-decoration: none;
}
.heart-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:0 1px 5px 0;
}

.count{
  color:yellow;
  display: inline;

}